@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 96%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 96%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 96%;
    --primary: 31 32% 63%;
    --primary-foreground: 0 0% 11%;
    --secondary: 35 28% 76%;
    --secondary-foreground: 0 0% 11%;
    --muted: 0 0% 20%;
    --muted-foreground: 35 28% 76%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 96%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 31 32% 63%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 96%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 96%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 96%;
    --primary: 31 32% 63%;
    --primary-foreground: 0 0% 11%;
    --secondary: 35 28% 76%;
    --secondary-foreground: 0 0% 11%;
    --muted: 0 0% 20%;
    --muted-foreground: 35 28% 76%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 96%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 31 32% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}
